/* Sets of the site-wide theme colors */
@import "tailwindcss";

:root {
	--background-1: #080808;
	--background-2: #383838;
	--foreground-1: #ffffff;
	--foreground-2: #cfcfcf;
}

@theme {
	--color-background-1: var(--background-1);
	--color-background-2: var(--background-2);
	--color-foreground-1: var(--foreground-1);
	--color-foreground-2: var(--foreground-2);
}