/* Sets the styling for typography */
h1:not(.override-typography),
h2:not(.override-typography),
h3:not(.override-typography),
h4:not(.override-typography),
h5:not(.override-typography),
h6:not(.override-typography) {
	/* color: var(--foreground-1); */
}

h1:not(.override-typography) {
	font-size: xx-large;
	font-weight: 700;
}

h2:not(.override-typography) {
	font-size: x-large;
	font-weight: 600;
}

h3:not(.override-typography) {
	font-size: larger;
	font-weight: 500;
}

h4:not(.override-typography) {
	font-size: large;
	font-weight: 400;
}

h5:not(.override-typography) {
	font-size: medium;
	font-weight: 300;
}

h6:not(.override-typography) {
	font-size: small;
	font-weight: 200;
}

p:not(.override-typography) {
	margin: 1rem;
	text-indent: 2rem;
	/* color: var(--foreground-2); */
}

a:not(.override-typography),
button.anchor {
	font-style: italic;
}

a:not(.override-typography):hover,
button.anchor:hover {
	font-style: normal;
	text-decoration: underline;
}