---
import Layout from "../layouts/Layout.astro";
import LogoShort from "../assets/logo/short.png";
---

<Layout>
    <div class="max-w-[70vw] top-[20vh] left-[50%] translate-x-[-50%] absolute">
        <article class="relative">
            <header class="flex flex-col items-center mb-[2rem] text-center">
                <h1>About</h1>
                <img src={LogoShort.src} alt="TLL" width={300} />
            </header>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                et unde autem. Beatae nesciunt tenetur consectetur, animi
                exercitationem officiis voluptates nemo consequatur adipisci
                placeat dolore earum necessitatibus similique expedita sequi
                error ea aspernatur consequuntur. Dicta corrupti, laudantium
                ullam nostrum nisi, dolor, incidunt quod similique beatae hic
                autem illum earum corporis?
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
                aspernatur totam, fuga facilis praesentium ipsum, numquam
                blanditiis dolore nulla quo beatae amet labore. Est blanditiis
                iusto dignissimos itaque totam earum praesentium natus
                aspernatur sunt cumque. Labore dolore saepe ipsum ratione modi
                tempore hic officiis at dicta eveniet assumenda, nesciunt, optio
                reiciendis alias quibusdam dolorem perferendis, laborum unde
                facilis sit omnis doloremque repellat. Nihil, tenetur obcaecati?
                Ad natus voluptates, est illum recusandae nemo, quasi, dolore
                minima ducimus eveniet repellat! Temporibus, modi corrupti
                excepturi vitae voluptatum consequatur animi, dicta dignissimos
                iste cum velit nisi adipisci deleniti. Iusto voluptatibus quia
                labore illum corrupti.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                et unde autem. Beatae nesciunt tenetur consectetur, animi
                exercitationem officiis voluptates nemo consequatur adipisci
                placeat dolore earum necessitatibus similique expedita sequi
                error ea aspernatur consequuntur. Dicta corrupti, laudantium
                ullam nostrum nisi, dolor, incidunt quod similique beatae hic
                autem illum earum corporis?
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
                aspernatur totam, fuga facilis praesentium ipsum, numquam
                blanditiis dolore nulla quo beatae amet labore. Est blanditiis
                iusto dignissimos itaque totam earum praesentium natus
                aspernatur sunt cumque. Labore dolore saepe ipsum ratione modi
                tempore hic officiis at dicta eveniet assumenda, nesciunt, optio
                reiciendis alias quibusdam dolorem perferendis, laborum unde
                facilis sit omnis doloremque repellat. Nihil, tenetur obcaecati?
                Ad natus voluptates, est illum recusandae nemo, quasi, dolore
                minima ducimus eveniet repellat! Temporibus, modi corrupti
                excepturi vitae voluptatum consequatur animi, dicta dignissimos
                iste cum velit nisi adipisci deleniti. Iusto voluptatibus quia
                labore illum corrupti.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                et unde autem. Beatae nesciunt tenetur consectetur, animi
                exercitationem officiis voluptates nemo consequatur adipisci
                placeat dolore earum necessitatibus similique expedita sequi
                error ea aspernatur consequuntur. Dicta corrupti, laudantium
                ullam nostrum nisi, dolor, incidunt quod similique beatae hic
                autem illum earum corporis?
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
                aspernatur totam, fuga facilis praesentium ipsum, numquam
                blanditiis dolore nulla quo beatae amet labore. Est blanditiis
                iusto dignissimos itaque totam earum praesentium natus
                aspernatur sunt cumque. Labore dolore saepe ipsum ratione modi
                tempore hic officiis at dicta eveniet assumenda, nesciunt, optio
                reiciendis alias quibusdam dolorem perferendis, laborum unde
                facilis sit omnis doloremque repellat. Nihil, tenetur obcaecati?
                Ad natus voluptates, est illum recusandae nemo, quasi, dolore
                minima ducimus eveniet repellat! Temporibus, modi corrupti
                excepturi vitae voluptatum consequatur animi, dicta dignissimos
                iste cum velit nisi adipisci deleniti. Iusto voluptatibus quia
                labore illum corrupti.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                et unde autem. Beatae nesciunt tenetur consectetur, animi
                exercitationem officiis voluptates nemo consequatur adipisci
                placeat dolore earum necessitatibus similique expedita sequi
                error ea aspernatur consequuntur. Dicta corrupti, laudantium
                ullam nostrum nisi, dolor, incidunt quod similique beatae hic
                autem illum earum corporis?
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
                aspernatur totam, fuga facilis praesentium ipsum, numquam
                blanditiis dolore nulla quo beatae amet labore. Est blanditiis
                iusto dignissimos itaque totam earum praesentium natus
                aspernatur sunt cumque. Labore dolore saepe ipsum ratione modi
                tempore hic officiis at dicta eveniet assumenda, nesciunt, optio
                reiciendis alias quibusdam dolorem perferendis, laborum unde
                facilis sit omnis doloremque repellat. Nihil, tenetur obcaecati?
                Ad natus voluptates, est illum recusandae nemo, quasi, dolore
                minima ducimus eveniet repellat! Temporibus, modi corrupti
                excepturi vitae voluptatum consequatur animi, dicta dignissimos
                iste cum velit nisi adipisci deleniti. Iusto voluptatibus quia
                labore illum corrupti.
            </p>
        </article>
    </div>
</Layout>
