---
import Layout from "../layouts/Layout.astro";
import LogoLong from "../assets/logo/long.png";
---

<Layout>
	<div class="text-center top-[20vh] left-[50%] translate-x-[-50%] absolute">
		<img src={LogoLong.src} alt="The Lord's Land" />
		<a href="/info">
			<h1>Learn How to Join!</h1>
		</a>
	</div>
</Layout>
