---
import Layout from "../layouts/Layout.astro";
import LogoShort from "../assets/logo/short.png";
---

<Layout>
    <div class="max-w-[70vw] top-[20vh] left-[50%] translate-x-[-50%] absolute">
        <div class="relative">
            <header class="flex flex-col items-center mb-[2rem] text-center">
                <h1>Info for</h1>
                <img src={LogoShort.src} alt="TLL" width={300} />
            </header>

            <table>
                <thead>
                    <tr>
                        <td>IPs</td>
                        <td>Versions</td>
                        <td>Editions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>162.84.147.216:45546</td>
                        <td>1.21.4</td>
                        <td>Java</td>
                    </tr>
                    <tr>
                        <td>speigal.flappygrant.com</td>
                        <td>1.21.4</td>
                        <td>Java</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</Layout>

<!-- Page-specific styles -->
<style>
    table {
        border-collapse: collapse;
    }

    table th,
    table td {
        padding: 0.5rem;
        text-align: left;
        border: 0.2rem solid var(--foreground-2);
    }

    table thead {
        font-weight: bold;
        background-color: var(--background-2);
    }

    table tr:hover {
        background-color: #9d4af1;
    }
</style>
