---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import IndexBackground from "../assets/background/index-2025-04-12_18.45.34.avif";
import ExternalLink from "../components/ExternalLink";
---

<Layout>
  <div
    id="background-wrapper"
    class="w-full h-screen top-0 left-0 absolute"
    style={{
      backgroundImage: `url("${IndexBackground.src}")`,
      backgroundSize: "cover",
      backgroundPosition: "center",
    }}
    transition:animate={fade({ duration: "0.6s" })}
    transition:name="background"
  >
    <div class="text-center top-[20vh] left-[50%] translate-x-[-50%] absolute">
      <span>Redirecting you to the Discord's Updates channel...</span>
    </div>
  </div>
</Layout>

<script>
  window.location.href =
    "https://discord.com/channels/1357101151111348448/1358266002185650349";
</script>
