<!-- Creates a FAQs navigation bar -->
<div
    id="faqs-sidebar"
    class="flex flex-col items-center gap-[1.5rem] p-[1rem] bg-background-2 border-double border-r-[.2rem] border-foreground-2 w-[10vw] h-full max-w-[10vw] overflow-y-scroll"
>
    <!-- Shows the FAQs page logo -->
    <a href="/faq/Info/Intro">
        <h1>FAQs</h1>
    </a>

    <!-- Provides a list of FAQs (navigatable) -->
    <ul class="flex flex-col w-full">
        <li><a href="/faq/Info/Intro">Intro</a></li>
    </ul>
</div>
