---
import NavBarLinks from "./NavBarLinks";
import DiscordLogo from "../assets/discord.png";
---

<!-- Creates a navigation bar always above the content -->
<nav
    class="flex items-center justify-between p-[2rem] border-double border-b-[.2rem] border-foreground-2 max-h-[5rem] w-full h-full top-0 left-0 fixed z-50"
>
    <!-- Shows the Discord logo, which links to the official Discord -->
    <a href="https://discord.gg/uU5Bf5SwwY" target="_blank">
        <img
            src={DiscordLogo.src}
            alt="Discord Logo"
            class="h-[4rem] rounded-[10%]"
        />
    </a>

    <!-- Provides a list of page links (navigatable) -->
    <NavBarLinks client:visible />
</nav>
