---
import DiscordLogo from "../assets/discord.png";
---

<!-- Creates a navigation bar always above the content -->
<nav
    class="flex items-center justify-between p-[2rem] bg-background-2 border-b-[.2rem] border-foreground-2 w-full h-full max-h-[5vw]"
>
    <!-- Shows the Discord logo, which links to the official Discord -->
    <a href="https://discord.gg/uU5Bf5SwwY" target="_blank">
        <img
            src={DiscordLogo.src}
            alt="Discord Logo"
            class="h-[4vw] rounded-[10%]"
        />
    </a>

    <!-- Provides a list of page links (navigatable) -->
    <ul class="flex gap-[1rem]">
        <!-- Added -->
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/info">Server Info</a></li>

        <!-- Not Added -->
        <li><a href="/community">Community</a></li>
        <li><a href="/news-and-updates">News & Updates</a></li>
        <li><a href="/donate-vote">Donate/Vote</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/team-staff">Team/Staff</a></li>
    </ul>
</nav>
