---
// Includes the stylesheets used site-wide
import "../styles/base.css";
import "../styles/theme.css";
import "../styles/typography.css";

// Allows use of these widgets
import NavBar from "../components/NavBar.astro";
import ServerCard from "../components/ServerCard";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>The Lord's Land &bullet; Minecraft Server</title>
		<meta name="description" content="No description yet!" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<!-- Inserts the navigation bar at the top of the content -->
		<NavBar />

		<!-- Provides a container/wrapper for all the page content  -->
		<div id="wrapper">
			<slot />
		</div>

		<!-- Displays the server status on every page -->
		<div id="status-wrapper" class="bottom-[1rem] left-[1rem] fixed">
			<ServerCard client:visible />
		</div>
	</body>
</html>
