---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div
        class="p-[1rem] max-w-[50vw] bg-background-2 border-[.2rem] border-foreground-2 rounded-[1rem] w-full top-[20vh] left-[50%] translate-x-[-50%] absolute"
    >
        <slot />
    </div>
</Layout>
